# DATABASE
DATABASE_URL=postgresql://user:password@localhost:5432/danielnoffs_webapp

# JWT
JWT_SECRET=sua_chave_secreta_muito_segura_aqui_mude_isso

# ASAAS
ASAAS_API_KEY=sua_chave_api_asaas_aqui
ASAAS_WEBHOOK_SECRET=sua_chave_webhook_asaas

# SERVER
PORT=3000
NODE_ENV=development

# FRONTEND
FRONTEND_URL=http://localhost:3001